<app-navigator></app-navigator>


<app-header [title]="this.title" [subTitle]="this.subTitle" [bg]="this.bg" [full]="true"></app-header>
<!--</header>-->

<!-- About -->
<section id="about" class="about">
  <div class="container text-center">
    <h2>公司简介</h2>
    <p class="lead">PUJI
      普济国际是澳洲成立的大型跨国集团，经营范围包括地产投资，地产开发，物业管理，高端旅游，金融，进出口贸易以及移民服务等专业服务。普济拥有国内外众多的合作伙伴，和中国以及澳洲本土知名开发商，贸易商，银行，大型金融经融机构建立了长期的战略合作关系，致力于建立澳洲为澳洲最专业，最务实，最安全的投资平台。在业界获奖无数。现在普济已经有了地产和商业生意买卖行业的领军地位。有任何好的创业点子我们都可以用自己的资源资金全力支持。已经在正规化清洁、物业、酒店式公寓行业中越走越远。今年的计划是医药领域和贸易的起步探索。在未来，不仅仅是在澳洲，中国，普济在未来会放眼全世界去组建新的项目新板块。
    </p>
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<section id="services" class="services bg-primary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <h2>公司业务</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>房屋销售</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-usd fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>生意买卖</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-key fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>二手房租赁</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>物业管理</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="http://www.pujiservices.com.au/" class="btn btn-light">了解详情</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let item of this.slideItems;let currentElementIndex=index"
          [attr.data-slide-to]="currentElementIndex"
          [class.active]="currentElementIndex == 0"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div *ngFor="let item of this.slideItems;let currentElementIndex=index"
           class="carousel-item dark-text-shadow" [class.active]="currentElementIndex == 0"
           [style.background-image]="'url(' + item.bg + ')'">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{item.title}}</h3>
          <p>{{item.subTitle}}</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</aside>


<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">楼盘信息</h1>

  <!-- Round about -->
  <div class="row">

    <div *ngFor="let item of this.regionInfo" class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="#">
        <img class="rounded-circle img-fluid d-block mx-auto" src="{{item.icon}}" alt="">
        <h3>{{item.title}}
          <small>{{item.subTitle}}</small>
        </h3>
      </a>
      <p>{{item.description}}</p>
    </div>
  </div>

</div>
<!-- /.container -->


<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d605.1164218214305!2d151.2089166814613!3d-33.865280700482735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae41c3f1b943%3A0x27f250706f3bbdbf!2s23+O&#39;Connell+St%2C+Sydney+NSW+2000!5e0!3m2!1sen!2sau!4v1511844050963"></iframe>
  <br/>
  <small>
    <a
      href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d605.1164218214305!2d151.2089166814613!3d-33.865280700482735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae41c3f1b943%3A0x27f250706f3bbdbf!2s23+O&#39;Connell+St%2C+Sydney+NSW+2000!5e0!3m2!1sen!2sau!4v1511844050963"></a>
  </small>
</section>

<app-footer></app-footer>
