<video class="vi" [attr.controls]="this.showVideoControl"
       (play)="this.playVideo()" (ended)="videoEnd()"
       src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"
       [attr.autoplay]="this.deviceService.isMobile()?null:''"
       [attr.playsinline]="this.deviceService.isMobile()?'':null"
       [attr.webkit-playsinline]="this.deviceService.isMobile()?'':null"
       preload="auto"
></video>

<!-- Header -->
<header *ngIf="this.videoEnded" class="header" id="top">
  <div class="text-vertical-center text-white dark-text-shadow">
    <h1>aaaa</h1>
    <h3>bbbbbb</h3>
    <a href="/primary" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>

