<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle" (click)="toggleMenuOn($event)">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper" [class.active]="active">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle" (click)="toggleMenuOff($event)">
      <i class="fa fa-times"></i>
    </a>
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#">Start Bootstrap</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Home</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">About</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Services</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Portfolio</a>
    </li>

  </ul>
</nav>

<app-header [title]="this.article?.title"
            [subTitle]="this.article?.subTitle"
            [bg]="this.article?.bg"
            [full]="false"></app-header>


<!-- Post Content -->
<article class="article">
  <div class="container">
    <div class="row">
      <div [innerHTML]="this.convertToHTML(this.article?.content)" class="col-lg-8 col-md-10 mx-auto">

      </div>
    </div>
  </div>
</article>

<hr>
