<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle" (click)="toggleMenuOn($event)">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper" [class.active]="active">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle" (click)="toggleMenuOff($event)">
      <i class="fa fa-times"></i>
    </a>
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#">Start Bootstrap</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Home</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">About</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Services</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Portfolio</a>
    </li>

  </ul>
</nav>

<!-- Header -->
<header class="header-small" id="top" [style.background-image]="'url(' + this.article?.bg + ')'">
  <div class="text-vertical-center bright-text-shadow">
    <h1>{{this.article?.title}}</h1>
    <h3>{{this.article?.subTitle}}</h3>

  </div>
</header>


<!-- Post Content -->
<article class="article">
  <div class="container">
    <div class="row">
      <div [innerHTML]="this.convertToHTML(this.article?.content)" class="col-lg-8 col-md-10 mx-auto">

      </div>
    </div>
  </div>
</article>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h4>
          <strong>Puji Internation</strong>
        </h4>
        <p>level&nbsp;1
          <br>O‘Connell&nbsp;Street,&nbsp;Sydney,&nbsp;NSW2050</p>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-phone fa-fw"></i>
            (123) 456-7890
          </li>
          <li>
            <i class="fa fa-envelope-o fa-fw"></i>
            <a href="mailto:name@example.com">info@puji.com </a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook fa-fw fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter fa-fw fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-dribbble fa-fw fa-3x"></i>
            </a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Puji International {{today | date:'yyyy'}}</p>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
    <i class="fa fa-chevron-up fa-fw fa-1x"></i>
  </a>
</footer>
