<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle" (click)="toggleMenuOn($event)">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper" [class.active]="active">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle" (click)="toggleMenuOff($event)">
      <i class="fa fa-times"></i>
    </a>
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#">Start Bootstrap</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Home</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">About</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="#">Services</a>
    </li>
    <li>
      <a class="js-scroll-trigger" href="/article">Article</a>
    </li>

  </ul>
</nav>

<!-- Header -->
<header class="header" id="top">
  <div class="text-vertical-center bright-text-shadow">
    <h1>{{this.title}}</h1>
    <h3>{{this.subtitle}}</h3>

  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class="container text-center">
    <h2>公司简介</h2>
    <p class="lead">PUJI
      International，中文译为普济国际。‘普济’即为‘普度众生，兼济天下’，公司以协助客户安居乐业，优化资产配置为宗旨，不但为客户提供满意的住宅，更竭尽全力帮助每一位客人以地产投资为手段实现财务自由。普济国际作为悉尼最专业的投资平台，拥有强大的经济实力，雄厚的地产资源，丰富的行业经历，一流的办公环境，优秀的团队，与中国和澳洲知名开发商，贸易商，银行，以及大型金融机构均有良好的长期合作关系，力求为客户提供房屋销售，生意买卖，二手房租赁，物业管理，医疗方面最权威的最专业的服务。
    </p>
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<section id="services" class="services bg-primary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <h2>公司业务</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>房屋销售</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>生意买卖</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>二手房租赁</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                  </span>
              <h4>
                <strong>日租房 </strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">了解详情</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let item of this.slideItems;let currentElementIndex=index"
          [attr.data-slide-to]="currentElementIndex"
          [class.active]="currentElementIndex == 0"></li>
      <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
      <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
      <!--<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>-->
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div *ngFor="let item of this.slideItems;let currentElementIndex=index"
           class="carousel-item dark-text-shadow" [class.active]="currentElementIndex == 0"
           [style.background-image]="'url(' + item.bg + ')'">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{item.title}}</h3>
          <p>{{item.subTitle}}</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</aside>


<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">楼盘信息</h1>

  <!-- Round about -->
  <div class="row">

    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/Picture2.jpg" alt="">
      <h3>city
        <small>副标题</small>
      </h3>
      <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/Picture3.jpg" alt="">
      <h3>北区
        <small>chatswood</small>
      </h3>
      <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/Picture4.jpg" alt="">
      <h3>东区
        <small>mascot</small>
      </h3>
      <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/Picture5.jpg" alt="">
      <h3>西北
        <small>副标题</small>
      </h3>
      <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/Picture6.jpg" alt="">
      <h3>西南
        <small>副标题</small>
      </h3>
      <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
    </div>
  </div>

</div>
<!-- /.container -->


<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d710.0069056503222!2d151.21001611065446!3d-33.86455085921402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3ff97120eb%3A0x54e2fc403b11b8ed!2s1+O&#39;Connell+Street!5e0!3m2!1sen!2sau!4v1511249329113"></iframe>
  <br/>
  <small>
    <a
      href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d710.0069056503222!2d151.21001611065446!3d-33.86455085921402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3ff97120eb%3A0x54e2fc403b11b8ed!2s1+O&#39;Connell+Street!5e0!3m2!1sen!2sau!4v1511249329113"></a>
  </small>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h4>
          <strong>Puji Internation</strong>
        </h4>
        <p>level&nbsp;1
          <br>O‘Connell&nbsp;Street,&nbsp;Sydney,&nbsp;NSW2050</p>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-phone fa-fw"></i>
            (123) 456-7890
          </li>
          <li>
            <i class="fa fa-envelope-o fa-fw"></i>
            <a href="mailto:name@example.com">info@puji.com </a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook fa-fw fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter fa-fw fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-dribbble fa-fw fa-3x"></i>
            </a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Puji International {{today | date:'yyyy'}}</p>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
    <i class="fa fa-chevron-up fa-fw fa-1x"></i>
  </a>
</footer>
