
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h4>
          <strong>Puji Internation</strong>
        </h4>
        <p>level&nbsp;1
          <br>23 O‘Connell&nbsp;Street,&nbsp;Sydney,&nbsp;NSW&nbsp;2050</p>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-phone fa-fw"></i>
            9233 7031
          </li>
          <li>
            <i class="fa fa-envelope-o fa-fw"></i>
            <a href="mailto:name@example.com">info@puji.com.au</a>
          </li>
        </ul>
        <br>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Puji International {{today | date:'yyyy'}}</p>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
    <i class="fa fa-chevron-up fa-fw fa-1x"></i>
  </a>
</footer>
